/*-----------------------------*/
/*   Customized for just try   */
/*-----------------------------*/
.navbar-brand .sub-title {
    font-size: 12px;
}

#the-menu .theme-accent-color {
    color: #240553 !important;
}

#the-menu .star {
    font-weight: bold;
}

.just-try-logo {
    background-image: url("../img/logo.png");
}

.mt100 {
    margin-top: 100px;
}

#contactform input, #contactform textarea {
    background-color: #fff;
    color: #000 !important;
}

#contactform ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333;
    opacity: 1; /* Firefox */
}

#contactform :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
}

#contactform ::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
}

#contactform input.btn-primary {
    color: #fff !important;
    background-color: #240553;
}

button.acceptcookies {
    background-color: #fff;
}